
    <h1>Bienvenido a<%= title %></h1>
    <p>El portal donde podra crear sus propios juegos</p>
    <a href="/quizes/question">Comience a jugar</a>
  <table>
  	<% var i; for (i=0; i < quiezes.length; i++) { %>
  		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>

  	<% } %>
  </table>